.total{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h5, p, .total-compra{
    font-size: 17px;
}

input{
    margin: 10px;
    width: 50%;
    font-size: 15px;
    text-align: center;
}

.boton-compra{
    font-size: 15px;
}